form {
    background-color: #e9efec;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    margin-top: 1.25rem;
    padding-left: 1rem;

    border-radius: 2.5rem;

    input {
        flex: 1;
        background-color: transparent;
        border: none;
        outline: none;

        &::placeholder {
            font-size: 18px;
        }
    }

    #add-button {
        border: none;
        border-radius: 50%;
        outline: none;

        width: 65px;
        height: 65px;

        font-size: 30px;

        background-color: greenyellow;

        cursor: pointer;

        transition: all 300ms linear;

        &:hover {
            transform: scale(1.2);
        }
    }
}
